# MongoDB Atlas - Get from Atlas dashboard → Connect → Drivers
MONGODB_URI=mongodb+srv://devgodwill:CB5O4WeRU1Q7uGJy@cluster1.qawnwix.mongodb.net/?retryWrites=true&w=majority

# OpenAI - Get from platform.openai.com/api-keys
OPENAI_API_KEY="OpenAI Key Via CMU AI Gateway"

# LangSmith Tracing - Get from smith.langchain.com → Settings
LANGCHAIN_API_KEY="From Langsmith"
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=alumni-rag-agent-hw2

# Email (For sending emails by agent)
SMTP_HOST=smtp.gmail.com
SMTP_USER=dev.ngodwill@gmail.com
SMTP_PASSWORD=inceyqtvpjlnsaaj

# Google Search (For Automated Discovery)
# 1. API Key: console.cloud.google.com/apis/credentials
GOOGLE_API_KEY="Google API Key"
# 2. Search Engine ID: programmablesearchengine.google.com
GOOGLE_CSE_ID="Google Search ID"

#
TAVILY_API_KEY=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
